
body {
    font-family: 'Pathway Gothic One', Arial, sans-serif;
    height: 100%;
    width: 100%; 
    background: #F5D420;
}

header {
    margin: 0 auto; 
    text-align: center;
    padding: 5px;
}

/* target / context = result */
/*  80px  / 16px  = 5 */
h1 {
    font-size: 5em;
    margin: 15px;
}


/* 24px / 16px = 1.5 */
h3 {
    /*font-size: 1.5em; */
    font-size: 1.5em;
}

li {
    list-style: none;
    padding: 3px;
    margin: 0 auto;
    border: 1px solid #999;
    width: 40%;
}

.main-container {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    max-width: 1000px;
}

#input-box { 
    border: 1px solid;
    width: 300px;
    height: 27px;
    margin: 10px; 
}

#submit-button,
#remove-button {
    display: inline;
    /*height: 35px;
    width: 130px;*/
    padding: 7px;
    border-radius: 50%;
    background: #000;
    color: #FFF;
    border: 1px solid #CCC;
}

.clicked {
    text-decoration: line-through;
}
