
body {
    font-family: 'Pathway Gothic One', Arial, sans-serif;
    height: 100%;
    width: 100%; 
    background: #F5D420;
}

header {
    margin: 0 auto; 
    text-align: center;
    padding: 5px;
}

h1 {
    font-size: 5em;
}

h3 {
    font-size: 1.5em; 
}

li {
    list-style: none;
    padding: 3px;
    margin: 0 auto;
    border: 1px solid #999;
    width: 40%;
}

.main-container {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

#input-box { 
    width: 300px;
    height: 27px;
    margin: 10px; 
}

#submit-button,
#remove-button {
    display: inline;
    /*height: 35px;
    width: 130px;*/
    padding: 7px;
    border-radius: 50%;
    background: #000;
    color: #FFF;
    border: 1px solid #CCC;
}

.clicked {
    text-decoration: line-through;
}
